################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/DesignTimeBuild/.dtbcache.v2
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/1d9efe82-d413-4d54-a720-fc264748f786.vsidx
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/227e935b-da48-4f34-a15b-ba689fd2c4f0.vsidx
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/64bf3a9e-d429-4928-8db8-6f89bbbdeb7c.vsidx
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/8dbb903c-714c-47d8-a308-14f1bbeec9db.vsidx
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/9736e12e-be20-4c7f-b47c-d530f2de544d.vsidx
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/v17/.suo
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/v17/DocumentLayout.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/bin/Debug/net8.0/AdventureWorksAPI.dll
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/bin/Debug/net8.0/AdventureWorksAPI.exe
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/bin/Debug/net8.0/AdventureWorksAPI.pdb
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/bin/Debug/net8.0/AdventureWorksAPI.staticwebassets.runtime.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/AdventureWorksAPI.csproj.nuget.dgspec.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.AssemblyInfo.cs
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.AssemblyInfoInputs.cache
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.assets.cache
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.csproj.CoreCompileInputs.cache
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.csproj.FileListAbsolute.txt
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.dll
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.GeneratedMSBuildEditorConfig.editorconfig
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.genruntimeconfig.cache
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.pdb
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/AdventureWorksAPI.sourcelink.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/apphost.exe
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/staticwebassets.build.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/staticwebassets.development.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/staticwebassets.pack.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/project.assets.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/project.nuget.cache
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/ProjectEvaluation/adventureworksapi.metadata.v8.bin
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/ProjectEvaluation/adventureworksapi.projects.v8.bin
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/ProjectEvaluation/adventureworksapi.strings.v8.bin
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/v17/.futdcache.v2
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/v17/.suo
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/v17/DocumentLayout.json
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/1d9efe82-d413-4d54-a720-fc264748f786.vsidx
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/227e935b-da48-4f34-a15b-ba689fd2c4f0.vsidx
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/64bf3a9e-d429-4928-8db8-6f89bbbdeb7c.vsidx
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/8dbb903c-714c-47d8-a308-14f1bbeec9db.vsidx
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/9736e12e-be20-4c7f-b47c-d530f2de544d.vsidx
/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/22979579-e8f4-411b-9980-04bbc853af5b.vsidx
/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/3bd8d02a-b52e-4700-bbe9-859d6e97fbf4.vsidx
/AdventureWorksAPI/.vs/AdventureWorksAPI/v17/.suo
/AdventureWorksAPI/.vs/AdventureWorksAPI/v17/DocumentLayout.json
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/config/applicationhost.config
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/v17/.futdcache.v2
/AdventureWorksAPI/AdventureWorksAPI/.vs/ProjectEvaluation/adventureworksapi.metadata.v8.bin
/AdventureWorksAPI/AdventureWorksAPI/.vs/ProjectEvaluation/adventureworksapi.projects.v8.bin
/AdventureWorksAPI/AdventureWorksAPI/.vs/ProjectEvaluation/adventureworksapi.strings.v8.bin
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/DesignTimeBuild/.dtbcache.v2
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/config/applicationhost.config
/AdventureWorksAPI/AdventureWorksAPI/.vs/AdventureWorksAPI/FileContentIndex/21225ce6-0f56-447b-aad6-0e13e194e6c5.vsidx
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/ref/AdventureWorksAPI.dll
/AdventureWorksAPI/AdventureWorksAPI/AdventureWorksAPI/obj/Debug/net8.0/refint/AdventureWorksAPI.dll
